# Common R files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
*.Rproj
.quarto
.quarto/
.DS_Store
**/.DS_Store
.DS_Store?
*_cache/
/cache/
# R books
_bookdown_files
_book
_freeze
# pkgdown site
docs/
# RStudio Connect folder
rsconnect/
.Rproj.user
.Rhistory
.RData
.Ruserdata

